body {
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.logo {
  width: 200px;
  height: 120px;
  object-fit: cover;
  object-position: top;
}

.nav-items {
  padding: 0px 20px;
}
.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
  align-items: center;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in, box-shadow 0.2s ease;
}
.nav-items > ul > li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(240, 220, 107);
  cursor: default;
}
.login {
  padding: 0px 20px;
  cursor: pointer;
  height: 40px;
  background-color: rgb(240, 220, 107);
  border-radius: 10px;
  border: solid 0.6px transparent;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login:hover {
  background-color: rgb(248, 228, 112);
  border: solid 0.6px lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.filter {
  padding: 10px 20px;
  display: flex;
}

.filter-btn {
  padding: 5px;
  cursor: pointer;
}

.res-logo {
  width: 100%;
  height: 110px;
  object-fit: cover;
  transition: box-shadow 0.3s ease;
  border-radius: 10px;
}
.res-logo:hover {
  box-shadow: 0 4px 8px rgb(241, 225, 131);
}
.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0px 100px;
  perspective: 1000px;
}
.res-card {
  padding: 5px;
  margin: 10px;
  width: 200px;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in, box-shadow 0.3s ease;
  border: 0.6px solid transparent;
}
.res-card:hover {
  border: 0.6px solid rgba(0, 0, 0, 0.24);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  background-color: rgb(240, 220, 107);
}

.cuisine-text {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.head > h4 {
  margin: 5px 3px;
  display: flex;
  padding: 0px 5px;
  transition: text-shadow 0.3s ease;
}
.head > h4:hover {
  font-weight: bolder;
  /* color: rgb(255, 255, 255); Change to a different color on hover */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.363);
}

#rating {
  background-color: lightgreen;
  padding: 0px 5px;
}
#rating:hover {
  background-color: rgb(100, 236, 100);
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 100px;
}

.shimmer-card {
  width: 200px;
  height: 270px;
  background-color: #f0f0f0;
  margin: 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.shimmer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  animation: shimmer 1.5s infinite;
}
@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
